html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Arial, Helvetica;
  min-width: 320px;
  display: flex;
  justify-content: center;
  padding: 30px 10px 10px 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}
.conteiner {
  outline: 1px solid black;
}
